<div class="navbar">
    <h1 class="home-link"><a [routerLink]='["/"]' >Course management home</a></h1>
    <ul class="navbar-links">
        <li class="navbar-link"><a [routerLink]="['/courses']" routerLinkActive='active'>Courses</a></li>
        <li class="navbar-link"><a [routerLink]="['/instructors']" routerLinkActive='active'>Instructors</a></li>
        <li class="navbar-link"><a [routerLink]="['/students']" routerLinkActive='active'>Students</a></li>
        <li class="navbar-link"><a [routerLink]="['/reports']" routerLinkActive='active'>Reports</a></li>
        <li class="navbar-link"><a [routerLink]="['/login']" routerLinkActive='active'>Log Out</a></li>
    </ul>
</div>